body {
    background-color: #919191;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container2 {
    margin: 0 20px;
    display: grid;
}

.formEdit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    position: relative;
}

.formEdit button {
    position: absolute;
    bottom: 15px;

}

#btnEdit {
    margin: 0 35px;


}

#form {
    display: grid;
    place-content: center;
}

/* Estilo para el contenedor de la tabla con scroll */
.table-container {
    max-height: 700px;
    overflow-y: auto;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: auto;
}

/* Opcional: Fijar el encabezado de la tabla al hacer scroll */
.table-container thead {
    position: sticky;
    top: 0;
    background-color: #212529;
    z-index: 1;
}

/* Asegurar que el contenedor tenga un ancho adecuado */
.table-container table {
    width: 100%;
}

/* Opcional: Estilo personalizado para el scrollbar */
.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Ajuste para el nuevo diseño de productos */
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 1rem;
    justify-content: space-between;
}

.form-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 1rem;
    background-color: #212529;
    width: 25%;
    color: white;
    height: fit-content;
    margin-top: 42px;

}



.form-container2 {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 1rem;
    background-color: #212529;
    width: 25%;
    color: white;
    height: 440px;
    margin-top: 42px;
    position: relative;
}

.form-container3 {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 1rem;
    background-color: #212529;
    width: 70vh;
    color: white;
    height: 530px;
    margin-top: 42px;
    position: relative;
    place-self: center;
}

.table-section {
    flex: 2;
    min-width: 500px;
    flex: 0 0 70%;
    max-width: 70%;
    width: 70%;

}

/* Responsive para pantallas pequeñas */
@media (max-width: 992px) {

    .form-container,
    .table-section {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    .form-container {
        margin-bottom: 30px;
        max-width: none;
    }

    .product-container {
        flex-direction: column;
    }
}